@model ApSafeFuzz.Models.ClusterConfigurationModel
@{
    ViewData["Title"] = "Cluster configuration";
}
<h1>@ViewData["Title"]</h1>
<p>Page for configuring your fuzzing cluster</p>

@if (ViewBag.nodesData.Count > 0)
{
    <table class="table">
        <thead>
        <tr>
            <th>Action</th>
            <th>Id</th>
            <th>IP address</th>
            <th>Username</th>
            <th>Password</th>
            <th>Connection Status</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in ViewBag.nodesData)
        {
            <tr>
                <td>
                    <form asp-action="Delete" asp-route-nodeId="@item.Id" method="post">
                        <button type="submit">Delete</button>    
                    </form>
                </td>
                <td>@item.Id</td>
                <td>@item.IpAddress</td>
                <td>@item.Username</td>
                <td>@item.Password</td>
                @if (@item.ConnectionState == "Success")
                {
                    <td style="color: green">@item.ConnectionState</td>
                }
                else
                {
                    <td style="color: red;">@item.ConnectionState</td>
                }
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>There is no node.</p>
}

<div class="wrapper">
    <form class="form-signin" asp-action="GetCreds" method="post">
        <h2 class="form-signin-heading">Add node</h2>
        <input type="text" class="form-control" name="IpAddress" placeholder="Ip Address" asp-for="IpAddress" />
        <input type="text" class="form-control" name="Username" placeholder="Username" asp-for="Username"/>
        <input type="password" class="form-control" name="Password" placeholder="Password" asp-for="Password"/>
        <button class="btn btn-lg btn-primary btn-block" style="margin-top: 20px" type="submit">
            Submit
        </button>
    </form>
</div>