@model ApSafeFuzz.Models.SharedStorageModel
@{
    ViewData["Title"] = "Cluster configuration";
}
<div style="margin-bottom: 50px">
    <h1>@ViewData["Title"]</h1>
    <p>Page for configuring your fuzzing cluster</p>
</div>

<h2>Shared storage configuration</h2>
<form asp-controller="Cluster" asp-action="SaveSharedStorage" method="post">
    <div class="form-group" style="margin-bottom: 50px">
        @{
            if (Model.LastState == true)
            {
                <p>Last connection state: <span style="color: green">success</span></p>
            }
            else
            {
                <p>Last connection state: <span style="color: red">failed</span></p>
            }
        }
        <p>To check connection click @Html.ActionLink("HERE", "CheckConnection", "Cluster")</p>
        <input type="text" name="IpAddress" id="IpAddress" placeholder="@Model.IpAddress" asp-for="IpAddress"/><br/>
        <input type="text" name="Username" id="Username" placeholder="@Model.Username" asp-for="Username"/><br/>
        <input type="text" name="Password" id="Password" placeholder="@Model.Password" asp-for="Password"/><br/>
        <button type="submit">Save</button>
    </div>
</form>

<h2>Fuzzing nodes</h2>
@if (ViewBag.nodesData.Count > 0)
{
    <table class="table">
        <thead>
        <tr>
            <th>Action</th>
            <th>Id</th>
            <th>IP address</th>
            <th>Username</th>
            <th>Password</th>
            <th>Connection Status</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in ViewBag.nodesData)
        {
            <tr>
                <td>
                    <form asp-action="Delete" asp-route-nodeId="@item.Id" method="post">
                        <button type="submit">Delete</button>    
                    </form>
                </td>
                <td>@item.Id</td>
                <td>@item.IpAddress</td>
                <td>@item.Username</td>
                <td>@item.Password</td>
                @if (@item.ConnectionState == "Success")
                {
                    <td style="color: green">@item.ConnectionState</td>
                }
                else
                {
                    <td style="color: red;">@item.ConnectionState</td>
                }
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>There is no node.</p>
}

<h2>Add fuzzing node</h2>
<div>
    <form asp-action="GetCreds" method="post">
        <input type="text" name="IpAddress" placeholder="Ip Address" asp-for="IpAddress" /><br/>
        <input type="text" name="Username" placeholder="Username" asp-for="Username"/><br/>
        <input type="password"  name="Password" placeholder="Password" asp-for="Password"/><br/>
        <button type="submit">
            Submit
        </button>
    </form>
</div>